.about {
    width: 100%;
    height: 280vh;

    .about_1 {
        height: 50vh;
        border-bottom: 1px solid green;

        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 40vh;
            object-fit: cover;
            width: 100%;
        }
        .about_title {
            font-size: 5rem;
            font-weight: 700;
            position: relative;
            color: white;
             top: -10rem;
        }
    }
    .about_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        height: 90vh;

        .about_2_title {
            font-size: 3rem;
            padding: 2rem 6rem;
            text-transform: capitalize;
            color: green;
        }
        .about_2_content {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 20%;
            }
            .about_2_text {
                width: 70%;
                display: flex;
                flex-direction: column;
                padding: 0 4rem;
                font-size: 1.4rem;
                
                p {
                    padding: 1rem;
                }
            }
        }
    }
    .about_3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60vh;
        .about_3_title {
            font-size: 3rem;
            padding: 2rem 6rem;
            text-transform: capitalize;
            color: green;
        }
        .about_3_text {
            width: 70%;
            display: flex;
            flex-direction: column;
            padding: 0 4rem;
            font-size: 1.4rem;
            p {
                padding: 1rem;
                text-align: center;
            }
        }
    }
    .about_4 {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      
        .philosophy{
           
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .p_title{
                font-size: 3rem;
                text-transform: capitalize;
                color: green;
            }
            .p_key{
                font-size: 1.5rem;
                font-weight: 600;
            }
            .p_text{
                padding: 2rem;
            }
        }

        .v_m{
            display: flex;
            flex-direction: column;
            align-items: center;

            .vision{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.7rem;
                .v_title{
                    font-size: 3rem;
                    text-transform: capitalize;
                    color: green;
                }
            }
            .mission{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.7rem;
                .m_title{
                    font-size: 3rem;
                    text-transform: capitalize;
                    color: green;
                }
            }
        }

       
        
    
    }
}
