

.aboutus {
    width: 100%;
    min-height: 100vh; /* Set min-height for responsiveness */
    overflow-x: hidden; /* Ensure content doesn't overflow horizontally */

    .about_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        img {
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }
        .about_title {
            font-size: 3rem;
            font-weight: 100;
            color: green;
        }
    }

    .about_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;

        .about_2img {
            display: flex;
            width: 30%; /* Adjust width for smaller screens */
            align-items: center;
            justify-content: center;

            img {
                width: 100%; /* Adjust width for smaller screens */
                border-radius: 2rem;
            }
           
        }

        .about_2_box {
            width: 90%; /* Adjust width for smaller screens */
            .about_2_title {
                font-size: 2rem;
                font-weight: 600;
                padding: 0 2rem;
            }
            .about_2_text {
                padding: 2rem;
                margin: 1rem;
            }
        }
    }

    .about_3 {
        min-height: 120vh; /* Set min-height for responsiveness */
        display: flex;
        flex-direction: column;

        .our_commitment {
            height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            .our_c_title {
                font-size: 3rem;
                text-transform: capitalize;
                color: green;
                text-align: center;
                padding: 1rem;
                width: 90%; /* Adjust width for smaller screens */
            }
            .our_commitment_content {
                text-align: center;
                font-size: 1.2rem;
            }
        }
        .about_3_box{
            min-height: 140vh; /* Set min-height for responsiveness */
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 2rem;

            .about_3_box_2part{
                width: 100%; /* Adjust width for smaller screens */

                .about_philosophy{
                    height: 30vh;
                    padding: 3rem;

                    .philosophy_title{
                        font-size: 2rem;
                        padding: 1rem;
                    }
                }

                .about_vision, .about_mission{
                    display: flex;
                    flex-direction: column;
                    gap: 1.3rem;

                    .a_v_title, .a_m_title{
                        font-size: 2rem;
                    }
                }
            }

            .about_3img{
                width: 100%; /* Adjust width for smaller screens */
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 40%; /* Adjust width for smaller screens */
                }
            }
        }
    }
}
