.agroImg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTER9ukTszKqTjAWNU5mal0ml1uhmnkVbTfZ2dSlBID8A&s");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}