.career{
    width: 100%;
    height: 100vh;
    background-color: rgb(50, 62, 50);

    .career_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
            height: 40vh;
            object-fit: cover;
        }

        .career_title{
            font-size: 3rem;
            color: green;
        }
    }
}