// components/Carousel.scss

.carousel-container {
    width: 100%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
  
    
    .slide {
      img {
        opacity: 0.9;
        width: 100%;
        height: 70vh;
        object-fit: cover;
      }
    }
    // .nav_carousel{
    //  position: relative;
    //  top: 4rem;
    //  z-index: 2;
    // }
  }
  