.footer {
    width: 100%;
    min-height: 50ch; /* Change height to min-height for responsiveness */
    background: black;
    color: white;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line */
    justify-content: space-around;
    padding-top: 3rem;
 
    .footer_1 {
       display: flex;
       flex-direction: column;
       gap: 2rem;
 
       .footer_address {
          font-size: 1rem;
          font-weight: 600;
          gap: 1rem;
          display: flex;
          flex-direction: column;
 
          .f_a {
             font-size: 1.7rem;
          }
       }
    }
 
    .footer_2,
    .footer_3,
    .footer_4 {
       display: flex;
       flex-direction: column;
       gap: 1.5rem;
       cursor: pointer;
       text-transform: capitalize;
       font-size: 1.1rem;
 
       .footer_2_about {
          font-size: 1.6rem;
          font-weight: 600;
       }
       .footer_links_tag{
         color: white;
         text-decoration: none;
         font-size: 1rem;
         font-weight: 800;
         text-transform: capitalize;
         &:hover{
            color: rgb(147, 142, 142);
         }
       }
    }
 
    .footer_3_quick_links,
    .footer_4_our_business {
       font-size: 1.6rem;
       font-weight: 600;
    }
    

 
    /* Media queries for responsiveness */
    @media screen and (max-width: 768px) {
       flex-direction: column; /* Stack items vertically on smaller screens */
       align-items: center;
 
       .footer_1,
       .footer_2,
       .footer_3,
       .footer_4 {
          text-align: center; /* Center align items on smaller screens */
       }
 

    }
 }
 