.footer {
   width: 100%;
   min-height: 50vh; /* Change height to min-height for responsiveness */
   background: black;
   color: white;
   display: flex;
   flex-wrap: wrap; /* Allow items to wrap to next line */
   justify-content: space-around;
   padding-top: 3rem;

   .footer_1 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-transform: capitalize;

      .footer_address {
         font-size: 1rem;
         font-weight: 600;
         gap: 1rem;
         display: flex;
         flex-direction: column;

         .f_a {
            font-size: 1.6rem;
         }
      }
   }

   .footer_2,
   .footer_3,
   .footer_4 {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      cursor: pointer;
      text-transform: capitalize;
      font-size: 1rem;

      .footer_2_about {
         font-size: 1.5rem;
         font-weight: 600;
      }
      .footer_links_tag {
         color: white;
         text-decoration: none;
         font-size: 0.9rem;
         font-weight: 600;
         text-transform: capitalize;
         &:hover {
            color: rgb(147, 142, 142);
         }
      }
   }

   .footer_3_quick_links,
   .footer_4_our_business {
      font-size: 1.5rem;
      font-weight: 600;
   }

   /* Media queries for responsiveness */
   @media screen and (max-width: 768px) {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: center;
     
      .footer_1 {
         display: flex;
         flex-direction: column;
         gap: 1.2rem;
         text-align: center;

         .footer_address,
         .footer_email,
         .footer_phone {
            font-size: 0.6rem;
            font-weight: 500;
            gap: 0.4rem;
            display: flex;
            flex-direction: column;

            .f_a,
            .f_e,
            .f_p {
               font-size: 1.4rem;
            }
         }
      }

      .footer_2,
      .footer_3,
      .footer_4 {
         margin-top: 2rem;
         padding: 0.3rem;
         align-items: center;
         .footer_2_about {
            font-size: 2rem;
            font-weight: 600;
         }
         .footer_links_tag {
            color: white;
            text-decoration: none;
            font-size: 0.7rem;
            font-weight: 600;
            text-transform: capitalize;

            &:hover {
               color: rgb(147, 142, 142);
            }
         }
      }
   }
}

.footer_bottom {
   height: 4vh;
   display: flex;
   justify-content: space-around;
   background-color: rgb(6, 6, 6);
   color: rgb(250, 246, 246);
   align-items: center;
}
@media (max-width: 768px) {
   .footer_bottom {
      font-size: 0.6rem;
   }
}
