.ourjourney{
    width: 100%;
    height: 120vh;
   

    .ourjourney_1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        height: 40vh;
       
        img{
            width: 30%;
        }
        .ourjourney_1_about{
            font-size: 3rem;
            font-weight: 800;
        }
    }
    .ourjourney_2{
        height: 80vh;
        
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;

        .wwa{
            font-size: 3rem;

        }
        .wwa_text{
            font-size: 1.3rem;
            font-weight: 700;
            padding: 3rem;
        }

    }
}