.privacyPolicy{
    width: 100%;
    height: 200vh;
    
  
    display: flex;
    flex-direction: column;
    align-items: center;

    .p_p_t{
        font-size: 2.6rem;
        font-weight: 400;
        margin: 1rem;
    }
    .privacy_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height:260vh;
        padding: 3rem;
     

        .privacy_box{
            padding: 0 2rem 2rem 2rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

           
        }
        .privacy_heading{
            font-size: 2rem;
        }
    }
}
