.research{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
    .research_img{
        width: 100%;
        height: 50vh;
        object-fit: cover; 
    }
    .research_text{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2rem;
        .rnd{
            font-size: 3rem;
        }
    }
}