.social {
    width: 100%;
    min-height: 50vh; /* Change height to min-height for responsiveness */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .social_text {
        padding: 2rem;
        font-size: 2rem;
        color: green;
    }

    .social_p {
        padding: 1rem;
        font-size: 2rem;
    }

    .social_icons {
        width: 90%; /* Adjust width for smaller screens */
        max-width: 400px; /* Add max-width to limit width on larger screens */
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-around; /* Change justify-content to space-around for better spacing */
        gap: 2.8rem;
        margin-top: 3rem;
    }

    /* Adjust icon colors for better visibility */
    .yt {
        color: red;
    }
    .linkedin {
        color: blue;
    }
    .fb {
        color: blue;
    }
    .twitter {
        color: black;
    }

    /* Add hover effect to all icons */
    .yt:hover,
    .linkedin:hover,
    .fb:hover,
    .twitter:hover {
        color: rgb(21, 54, 89);
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .social {
        .social_text {
            padding: 1.3rem;
            font-size: 1.7rem;
        }
    
        .social_p {
            text-align: center;
            padding: 0.7rem;
            font-size: 1.3rem;
        }
        .social_icons {
            font-size: 2.2rem; /* Adjust font size for smaller screens */
            gap: 0.4rem;
          
        }
    }
}
