.termsConditions {
    width: 100%;
    height: 180vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;

    .t_c_t {
        font-size: 2.6rem;
        font-weight: 400;
        margin: 1rem;
    }
    .termsconditions_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height:260vh;
        padding: 3rem;
     

        .t_c_box{
            padding:0 2rem 2rem 2rem;
        }
        .t_c_heading{
            font-size: 2rem;
        }
    }
}
